#left-div{
text-align:center;
}
img{
display:block;
margin-left:auto;
margin-right:auto;
}
header{
background:#90EE90;
font-size:30px;
width:100%;
}
nav{
height:30%;
background-image:url("ani5.jpeg");

padding:0;
text-align:center;
}
nav a{
color:white;
font-size:22px;
text-decoration:none;
}
iframe{
width:90%;
height:500px;
background-image:url("ani2.png");
}